arandr==0.1.11
asgiref==3.10.0
attrs==25.4.0
cffi==1.17.1
cryptography==46.0.2
Django==5.2.7
django-cors-headers==4.9.0
django-filter==25.2
djangorestframework==3.16.1
djangorestframework_simplejwt==5.5.1
Faker==37.11.0
filelock==3.20.0
i3ipc==2.2.1
libfdt==1.7.2
libtorrent==2.0.11
nwg-displays==0.3.26
packaging==25.0
pillow==11.3.0
psycopg2-binary==2.9.11
pycairo==1.28.0
pycparser==2.23
PyGObject==3.54.3
PyJWT==2.10.1
python-decouple==3.8
python-xlib==0.33
ranger-fm==1.9.4
six==1.17.0
sqlparse==0.5.3
tzdata==2025.2
wheel==0.45.1
